@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    color-scheme: dark;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #23333e; 
}

::-webkit-scrollbar-thumb {
    background: #354a58; 
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #455e6e; 
}

* {
    font-family: 'Lexend Deca', serif;
}

h1 {
    color: #dc7f42
}

h2 {
    color: #ffd5ba
}

h3 {
    color: #ffd5ba
}

p {
    color: #ffd5ba
}

.p2 {
    color: #ffd5ba
}

a {
    color: #ff904a
}

body {
    background-image: url("/assets/bg.png");
    background-size: 250px;
    animation: bg 60s linear infinite;
}
@keyframes bg {
    0% {background-position: top right;}
    100% {background-position: bottom left;}
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.logo {
    margin-top: 40px;
    width: 85vmin;
    height: auto;
}

.logo-subtext {
    font-size: medium;
}

@media screen and (max-width: 680px){ 

    .social-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 17px;
    }

    .music-slideshow {
        display: grid;
        grid-template-columns: repeat(1, 3fr) !important; 
        grid-template-rows: repeat(1, 1fr); /* Change to 2, 1fr for 3 more cards */
        overflow-x: visible;
    }

    .projects-slideshow {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(1, 1fr); /* Change to 2, 1fr for 3 more cards */
        overflow-x: visible;
    }

}

.social-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.social-icons {
    font-size: 25px;
    position: relative;
}

.social-icons::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(-100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.social-icons:hover::after {
    opacity: 1;
}

.social-icons {
    color: #ffd5ba;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.3s ease;
}

.social-icons:hover {
    cursor: pointer;
    border-color: #ffb07b;
    color: #ffb07b;
}

.social-icons:hover::after {
    cursor: pointer;
}

.socials {
    color: #ffb07b;
}

.soc-about {
    max-width: 950px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background-color: #152027;
}

.about {
    max-width: 950px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
    background-color: #152027;
}

.music-icon:hover {
    border-color: #ffb07b;
    border-style: solid;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: 24px; 
    color: #ffb07b;
/*    transform: translateY(-5px); */
/*    transition: transform 0.1s ease-in-out; */
}

.music-icon {
    border-color: #ffd5ba;
    border-style: solid;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: 24px; 
    color: #ffd5ba;
}

.button-list {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.music-cc {
    text-align: center;
    font-size: smaller;
    padding-top: 2%;
}

.music-info {
    color: #dc7f42 !important;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    font-size: larger;
}

.music-text {
    font-size: xx-large;
    text-align: center;
}

.music {
    max-width: 950px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
    background-color: #152027;
}

.music-slideshow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); /* Change to 2, 1fr for 3 more cards */
    overflow-x: visible;
}

.music-slideshow::-webkit-scrollbar {
    display: none;
}

.music-card {
    flex: 0 0 270px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #23333e;
/*    transition: transform 0.3s ease-in-out; */
    background-color: #23333E;
}

/* .music-card:hover { */
/*    transform: translateY(-5px); */
/* } */

.music-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.music-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
}

.projects {
    max-width: 950px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
    background-color: #152027;
}

.projects-text {
    font-size: xx-large;
    text-align: center;
}

.projects-slideshow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); /* Change to 2, 1fr for 3 more cards */
    overflow-x: visible;
}

.projects-card {
    flex: 0 0 270px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #23333e;
/*    transition: transform 0.3s ease-in-out; */
    background-color: #23333E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-header {
    color: #ffb07b;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    font-size: x-large;
}

.projects-info {
    color: #ffd5ba;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    font-size: large;
}

.projects-logo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.about h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.0rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-text {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,  1fr);
    gap: 10px;
    text-align: center;
}