@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #23333e; 
}

::-webkit-scrollbar-thumb {
    background: #354a58; 
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #455e6e; 
}

* {
    font-family: 'Lexend Deca', serif;
}

h1 {
    color: #dc7f42
}

h2 {
    color: #f29659
}

h3 {
    color: #ffb07b
}

p {
    color: #ffd5ba
}

.p2 {
    color: #ffe9db
}

a {
    color: #ff904a
}

.social-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.social-icons {
    font-size: 25px;
    position: relative;
}

.social-icons::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(-100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.social-icons:hover::after {
    opacity: 1;
}

.social-icons {
    color: #ffb07b;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.3s ease;
}

.social-icons:hover {
    cursor: pointer;
}

.social-icons:hover::after {
    cursor: pointer;
}

.logo {
    margin-top: 40px;
    width: 85vmin;
    height: auto;
}

.socials {
    color: #ffb07b;
}

.logo-subtext {
    font-size: medium;
}

body {
    background-color: #23333e;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;  
}

nav ul {
    max-width: 1000px;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #324958;
    border-radius: 25px;
}

nav li {
    display: inline-block;
}

nav li button.nav-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: large;
    
}

nav li button.nav-btn a {
    display: block;
    color: #ffd5ba;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 6px;
}

nav li button.nav-btn a:active {
    background-color: #151e24;
    border-radius:  100px;
}

nav li button.nav-btn a:hover {
    background-color: #151e24;
    border-radius:  100px;
}

@media screen and (max-width: 500px){

    nav li button.nav-btn {
        justify-content: center;
        align-items: center;  
        text-align: center;
        background: none;
        border: none;
        cursor: pointer;
        font-size: large;
    }
    
    nav ul {
        min-width: 300px;
        list-style-type: none;
        margin: 10px;
        padding: 0;
        overflow: hidden;
        background-color: #324958;
        border-radius: 25px;
    }
}

.soc-about {
    max-width: 950px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background-color: #152027;
}

.about {
    max-width: 950px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
    background-color: #152027;
}

.about h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.0rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-text {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,  1fr);
    gap: 10px;
    text-align: center;
}